# XUPV5 보드 및 IOBOARD User Constraint File (UCF)
# 필요한 부분을 주석 해제하시고 사용하세요.

# ----------- XUPV5 보드 -----------
# NET "CLK_100MHZ" LOC=AH15;

# DIP 스위치
# NET "DIPSW_1" LOC=U25;
# NET "DIPSW_2" LOC=AG27
# NET "DIPSW_3" LOC=AF25;
# NET "DIPSW_4" LOC=AF26;
# NET "DIPSW_5" LOC=AE27;
# NET "DIPSW_6" LOC=AE26;
# NET "DIPSW_7" LOC=AC25;
# NET "DIPSW_8" LOC=AC24;

# 푸시버튼
# NET "PUSHSW_N" LOC=U8;
# NET "PUSHSW_S" LOC=V8;
# NET "PUSHSW_E" LOC=AK7;
# NET "PUSHSW_W" LOC=AJ7;
# NET "PUSHSW_C" LOC=AJ6;

# LCD 밑 LED
# NET "LED_0" LOC=H18;
# NET "LED_1" LOC=L18;
# NET "LED_2" LOC=G15;
# NET "LED_3" LOC=AD26;
# NET "LED_4" LOC=G16;
# NET "LED_5" LOC=AD25;
# NET "LED_6" LOC=AD24;
# NET "LED_7" LOC=AE24;

# 푸시버튼 하단의 LED
# NET "LED_N" LOC=AF13;
# NET "LED_E" LOC=AG23;
# NET "LED_S" LOC=AG12;
# NET "LED_W" LOC=AF23;
# NET "LED_C" LOC=E8;

# 피에조 부저
# NET "PIEZO" LOC=G30;

# ----------- IO보드 -----------
# 7세그먼트 좌측부터 1번
NET "seg5[6]" LOC = H33;
NET "seg5[5]" LOC = F34;
NET "seg5[4]" LOC = H34;
NET "seg5[3]" LOC = G33;
NET "seg5[2]" LOC = G32;
NET "seg5[1]" LOC = H32;
NET "seg5[0]" LOC = J32;
NET "seg4[6]" LOC = J34;
NET "seg4[5]" LOC = L33;
NET "seg4[4]" LOC = M32;
NET "seg4[3]" LOC = P34;
NET "seg4[2]" LOC = N34;
NET "seg4[1]" LOC = AA34;
NET "seg4[0]" LOC = AD32;
NET "seg3[6]" LOC = Y34;
NET "seg3[5]" LOC = Y32;
NET "seg3[4]" LOC = W32;
NET "seg3[3]" LOC = AH34;
NET "seg3[2]" LOC = AE32;
NET "seg3[1]" LOC = AG32;
NET "seg3[0]" LOC = AH32;
NET "seg2[6]" LOC = K34;
NET "seg2[5]" LOC = L34;
NET "seg2[4]" LOC = K32;
NET "seg2[3]" LOC = K33;
NET "seg2[2]" LOC = N32;
NET "seg2[1]" LOC = P32;
NET "seg2[0]" LOC = R34;
NET "seg1[6]" LOC = T33;
NET "seg1[5]" LOC = R32;
NET "seg1[4]" LOC = R33;
NET "seg1[3]" LOC = T34;
NET "seg1[2]" LOC = U33;
NET "seg1[1]" LOC = U31;
NET "seg1[0]" LOC = U32;
NET "seg0[6]" LOC = V33;
NET "seg0[5]" LOC = V32;
NET "seg0[4]" LOC = V34;
NET "seg0[3]" LOC = W34;
NET "seg0[2]" LOC = AA33;
NET "seg0[1]" LOC = Y33;
NET "seg0[0]" LOC = AE34;

# LED
# NET "IO_D2" LOC = AN33;
# NET "IO_D3" LOC = AF34;
# NET "IO_D4" LOC = AE33;
# NET "IO_D5" LOC = AF33;
# NET "IO_D6" LOC = AD34;
# NET "IO_D7" LOC = AC34;

# 푸시버튼
NET "PUSHSW_input[5]" LOC = AN32;
NET "PUSHSW_input[4]" LOC = AP32;
NET "PUSHSW_input[3]" LOC = AC33;
NET "PUSHSW_input[2]" LOC = AB33;
NET "PUSHSW_input[1]" LOC = AC32;
NET "PUSHSW_input[0]" LOC = AB32;

# DIP 스위치
NET "DIP_input[9]" LOC = AK34;
NET "DIP_input[8]" LOC = AK33;
NET "DIP_input[7]" LOC = AJ32;
NET "DIP_input[6]" LOC = AK32;
NET "DIP_input[5]" LOC = AL34;
NET "DIP_input[4]" LOC = AL33;
NET "DIP_input[3]" LOC = AM33;
NET "DIP_input[2]" LOC = AJ34;
NET "DIP_input[1]" LOC = AM32;
NET "DIP_input[0]" LOC = AN34;
